/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  color: #0000008c;
}

/* Header */
header {
  background-color: #00cad1;
}

.topo {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}
.topo img {
  width: 140px;
}
.nav-topo a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  padding-left: 30px;
  font-size: 16px;
}
nav a:hover {
  color: #006d68;
}

/* Main */
.container-img {
  background-image: url('/assets/recepcao.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.container-limit {
  width: 1024px;
  margin: 0 auto;
}
.container-limit h1 {
  color: #fff;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 40px;
}

/************** Estilo global Título e descrição **************/

.container-titulo-descricao {
  margin: 0 auto;
  max-width: 1024px;
  margin-top: 40px;
}
.titulo {
  text-align: center;
}
.titulo p {
  margin-top: 20px;
  font-size: 16px;
  padding: 0 25%;
  margin-bottom: 30px;
}

/* ************************************************************** */

.container-img-descricao {
  max-width: 1024px;
  padding-left: 23%;
}
.container-img-descricao img {
  width: 200px;
  height: 252px;
  float: left;
}

.container-img-descricao h3 {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 15px;
  margin-top: 40px;
}
.container-img-descricao ul {
  font-size: 14px;
  margin-bottom: 100px;
  margin-top: 30px;
  display: inline-block;
  padding-left: 35px;
}

.container-card {
  max-width: 1024px;
  margin: 0 auto;
}
.card {
  display: flex;
  justify-content: space-around;
}

.card-box {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  width: 300px;
}

.card img {
  width: 300px;
  height: 200px;
}

.card p {
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  padding: 5px 0;
}

/* *************** botao-link ******************* */

.container-botao {
  margin-top: 30px;
  text-align: center;
}
.botao-link {
  color: #fff;
  background-color: #00cad1;
  font-size: 14px;
  font-weight: 600;

  text-transform: uppercase;
  text-decoration: none;
  padding: 5px 20px;
}

/* ****************** Mapa *********************** */
.mapa {
  max-width: 1024px;
}
.mapa iframe {
  width: 100%;
  height: 350px;
}

/* ****************** Footer *********************** */

Footer {
  background-color: #0c6e71;
  margin-top: 60px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
}
.rodape {
  max-width: 1024px;
  text-align: center;
}
.rodape img {
  width: 100px;
  margin-top: 20px;
}
.rodape p {
  color: #fff;
  font-weight: normal;
  font-size: 16px;
  margin-top: 15px;
}

/* **************** Página Especialidades *************** */
.container-nav {
  margin-top: 20px;
  text-align: center;
}
.container-nav a {
  color: #0000008c;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
  margin-left: 20px;
  border-bottom: 2px solid #00cad1;
}
.container-nav h2 {
  margin-top: 30px;
}

/*********************** Tabelas ************************ */
.container-especialidade {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
}
.titulo-especialidade {
  text-align: center;

  width: 560px;
  margin: 0 auto;
  margin-bottom: 10px;
}
.titulo-especialidade h2 {
  margin-bottom: 20px;
}

.container-tabela {
  display: flex;
  max-height: 255px;
}
.container-especialidade img {
  max-width: 310px;
  width: 100%;
  height: 255px;
  object-fit: cover;
}

table {
  width: 100%;
  height: 255px;
  border-collapse: collapse;
}

th {
  text-align: left;
  padding: 10px;
  background-color: #00cad1;
  color: #fff;
}

td {
  padding-left: 10px;
}

table tbody tr:nth-child(even) {
  background-color: #fff;
}
table tbody tr:nth-child(odd) {
  background-color: #cdcdcd;
}

/* ****************** Responsividade ******************** */

@media (min-width: 769px) and (max-width: 1024px) {
  .container-img {
    height: 400px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .container-img {
    height: 300px;
  }
  .container-limit h1 {
    font-size: 34px;
  }
  .container-img-descricao {
    display: none;
  }
  .card {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .card-box {
    margin-top: 30px;
  }

  /* Página especialidades */
  .container-tabela {
    padding: 0 10px;
  }
  .container-especialidade img {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  .topo {
    flex-direction: column;
  }
  nav {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    width: 100%;
  }
  .container-img {
    height: 200px;
  }
  .container-limit h1 {
    font-size: 28px;
  }
  .container-img-descricao {
    display: none;
  }
  .card {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
  }
  .card-box {
    box-shadow: none;
  }
  .card img {
    margin-top: 30px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); /*arrumar*/
  }

  /* Página especialidades */
  .titulo-especialidade {
    width: 100%;
    padding: 20px;
  }
  .container-especialidade img {
    display: none;
  }
}
